// .ni{
//     // color: linear-gradient(87deg, #b4cce1 0, adjust-hue(#6adaff, 25%) 100%);
//     color: navy;
// }
// .fas{
//     color: navy;
// }
.error-message{
    font-size: 11px;
    color: red
  }
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    padding: 0.2rem;
    border-bottom: 0 solid #e9ecef;
    border-top-left-radius: 0.4375rem;
    border-top-right-radius: 0.4375rem;
    border: 1px;;
    // width: fit-content;
}
.modal-dialog {
 
    width: 360px;
  }