// .ni{
//     // color: linear-gradient(87deg, #b4cce1 0, adjust-hue(#6adaff, 25%) 100%);
//     color: navy;
// }
// .fas{
//     color: navy;
// }
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0rem;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    padding: 1.25rem;
    border-bottom: 0 solid #e9ecef;
    border-top-left-radius: 0.4375rem;
    border-top-right-radius: 0.4375rem;
}